Base64 invalid input

I've faced with an issue during migration from acme v1 to acme v2 with latest getssl version (2.16)

During certificate validation getssl reports about error

`json_awk expected <EOF> but got <b> at input token 38
`
After some investigation, I've found the root cause of this issue.

For some reason letsencrypt return response in base64 with omitted equal signs at the end of the response (so it omits base64 padding)

getssl tries to decode the response

```
responseHeaders=$(cat "$CURL_HEADER")
      if [[ "$needbase64" && ${response##*()} != "{"* ]]; then
        # response is in base64 too, decode
        response=$(echo "$response" | base64 -d 2>&1)
      fi

```
but base64 decodes input and in addition, generates an error about invalid input (missing padding). Due to stderr to stdout redirection, the final response looks like 

```
'{
  "status": "valid",
  "expires": "2020-01-31T12:48:12Z",
  "identifiers": [
    {
      "type": "dns",
      "value": "xxxxx.ru"
    }
  ],
  "authorizations": [
    "https://acme-v02.api.letsencrypt.org/acme/authz-v3/2448338463"
  ],
  "finalize": "https://acme-v02.api.letsencrypt.org/acme/finalize/10697900/2123905134",
  "certificate": "https://acme-v02.api.letsencrypt.org/acme/cert/039506eb431570dee6fba94b9da0c5ab59b8"
}base64: invalid input'
```
and as the result we get error 

`json_awk expected <EOF> but got <b> at input token 38
`
The easiest way of fixing this issue is to disable stderr to stdout redirection during base64 call, 

```
responseHeaders=$(cat "$CURL_HEADER")
      if [[ "$needbase64" && ${response##*()} != "{"* ]]; then
        # response is in base64 too, decode
        response=$(echo "$response" | base64 -d 2>/dev/null)
      fi

```

but I'm not sure if it is a proper way.



The code below is an output of "sh -x getssl -f -d my.domain"


```
+ code=500
+ loop_limit=5
+ [[ 500 -eq 500 ]]
+ [[ -n '' ]]
+ [[ -n needbase64 ]]
++ urlbase64
++ curl --user-agent getssl/2.16 --silent --dump-header /root/.getssl/xx.xxx/tmp/curl.header -X POST -H 'Content-Type: application/jose+json' --data '{"protected": "eyJhbGciOiAiUlMyNTYiLCAia2lkIjogImh0dHBzOi8vYWNtZS12MDIuYXBpLmxldHNlbmNyeXB0Lm9yZy9hY21lL2FjY3QvMTA2OTc5MDAiLCJub25jZSI6ICIwMDAxZ3FOSU5EMmp6TzY0NlNIUXVyZlFPTHIzTFFyX2l3NVljcFN1Skk3Sk9WQSIsICJ1cmwiOiAiaHR0cHM6Ly9hY21lLXYwMi5hcGkubGV0c2VuY3J5cHQub3JnL2FjbWUvZmluYWxpemUvMTA2OTc5MDAvMjEyMzc5ODQ2OSJ9","payload": "eyJjc3IiOiAiTUlJRWREQ0NBbHdDQVFBd0FEQ0NBaUl3RFFZSktvWklodmNOQVFFQkJRQURnZ0lQQURDQ0Fnb0NnZ0lCQUs0TWRvZ0pRZnNqTlBoNlhZUUhmVzNWal9oWmt6NzJ4YlVRUnhJRmk1RXh2R2VqN1hSc2dOaUc3bi1LbWtlZlpBYlYySG5sMFhDcHUwSVZhUlRQdkJmaFpEYmxMX0VBSGxTaHBnMnh3a3pTbGprUGNHNlRhVk02RTRpeXlFc0VRWjdtY0w5YTBDZ3BiN0xDYUQ0UVVzUUptZmdfSm5LMXltal9Rb0V5LU04YTZYbzVEd1drbV82bThTQUcyR1EzU1l2WnFJS3V2bnNPUGxIdFNDUmRWVng4X2U0SHNVMmhIR2QtWXhsY1dndm9OYmNFbFpCd19QQ3J0aE9oUVBrbWVwNmNyLWNERUMxUnBxaXo4dU54STcyWGtYUWIwQV90aENId3hzdWhxcTNNdVp5VTUxYjZSQUNocUNhQ09KOVJsenBaQkVySXlFYVhrSzB5TmJpQjRITHZBZVdsc0MxdUd0N3kyeVh3cUZWRjRydk5WTGFXaXF4MVg3TmktaW9MbjZVTE9NSFdGdHdkcklmSkhtWGVjdWlFcWlUWTE2OG1JR1dfeG5ncy1PaDIxbmliclFkNFpuZllQV21ETE1za281Ym9aZGc3emJKTGE1UGJvOEZaMVlFcWoycU51TnJBWF9aMnFPdUpoUzFCbnBfSTI0Sml5Rmxna0tDbmZBcWVKTDlFS09IRzlqaENrMVp0WENZcnBiaWQxVnpSVkVLQ3BLMzZJTmRobEZ6VmpfNzhMdkFIZENXaWVKdXdMYjNSWTNPYmRZZm95RFhVQkR2Sjd2OUxJbzdSS1VQeXVobUJxN2NIcmFnemNuUlBYZ1VEZEZjb3BJdFRVemVWdS1hR1JLUE9BSTQ1UnRJc0JGak9aLXhtU2dYVHhWZTVLS2JWM24zTWxmc2MySm9IQWdNQkFBR2dMekF0QmdrcWhraUc5dzBCQ1E0eElEQWVNQndHQTFVZEVRUVZNQk9DRVd4bGVHTnZibk4xYkhRdWIyNXNhVzVsTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElDQVFDSmJ2ek44dW1fWmZKNURYZ1RGY3BaQ1FZOElhdVV5OUJYcUdVdE5fdHI4T282TlpQSC1BdnRpNlMzbUVvVlVudm14SWtSZVE0U2hRNEdiLU91ZGE0MzU1STA4Q2ZXU19MSXIxMnVzRlRLNUIyazNMS3VEUHQyMEV5SElMVDFnYlJRMVpQd2VzUGVBTy1nYVcwLTMwMDNqN1otWEtadkxHczY4OTliXzE0U05NQ0hzZVBNSm5ZUlFleXJKUzVPZlBlN2RDQ19JMkoyYU5tT1hmbVpib0dOX0JqZ215cWd5NERYcUNsbHRQWDZ6SWotQVQ0YzlQYjlWS0EyWTF0ejdwWjlCT0YyQ1VPUlZyOTdGY3QzRVRXUmNuQ2pyV3d6ZW12LWtLV09DakdBVUVtTkV6Z3RoTUVOZTFTbzFKWnVSMEo5OEZvN1lrbHo2UU1ka212TTIwQUZQZHo4RmpQLUNpU05YZTZCUDZYSFdNN2x3LUlFbjVHVzhVcVR0aVpyWGRYNkMwVy1QaUl1OWNESkhZM2tzS1hHTTU2b094RVRodzdjZDRVY1lUTDBncjdmMFUzRkpwbHBjMUNYYUdwd0lxNFVHOUh1UlgwcUlGZXRfWXR5QnAtZGNEdXZJM2NORkhPZmFsd21pMUhkSnZnVS1vTTBfMGRjRUs1V3NLQmVBMFB5SEhwdmdaWjRYOW5CV2tFUEEyYU41X2MxQ3NpckpXX295U1EwNmVLTm13WjF4cWd3V1NWNmE1RFJ5MjkzTjFHUVdIY2ttOEx2eEhGN3E1R1hoc1YwcnhCbVNZWnlGTi1WR05MRkE0OFZVcFh5MTBkS0U3YTZnZmhhVGlWQ3ZiZDhSUHFzYlJiU3pKRlRsNGhaRzE0NHFzTzRIM2JUT3c2V253TzBWemxfWEEifQ","signature": "VhvNimAepNu9DbgMtACxCYTYb_wWmaqtFzjv6SQwKqP4YVgre37nB5RI9BcnpZ-bn5a8J6VbvOymPR6mMT5zcmnGCzaVQgwquMs-XsbM1tVVpqiu4O0c1DGRLiCOcBWcziAO53UrGJ3HdmZMfl8vwemnJi6DaoAwMEJbV_C8IhCln3xszUbi7MMuOAxOzZ0Fk_njs985YS2AoUFhXs_TWarUBofzfQaNk2viZeLZ3ZcIyDgrJ5aJPqO_tm1pfNW9MgvMQe9srVI1fE6c0aAw6J07feVKQqK0tHrDsdvm-fYH_148NtZpxwRsUkGhmZa_7eNuVkPF2yOjbeg-IA9JbS1ebhRRSajBNhrQLHKuOgHhfcD8BA7EHIP3vJVjL0aBkwlbeyCtKCDr_KIZizl4YOgKFS5b6Jzq0vHL2MhyKt6G9civ1VsBVk2NhKD7Fi4lngcBqLv33v6erNNjMA5XkiD_yEcjDbIjkOnwIpVL0k0xLZtOWHXHI8ZmGa4PHqs7cRXa9i0do8UdxYGD-EvgWZmKo21FpOr0MyYnJxwaU4bgzT6ET6M3vhEL-xH6jnb2IuNutL0RDmtO4glAO-wDZDZlUi4Uexqpuo5WeixcuMlFmJnmWzXIl4SfiZ7uOb60CKrOrseC2KVbieJVepD4Vxq_LgqiQioi1OIOkI3ZMBI"}' https://acme-v02.api.letsencrypt.org/acme/finalize/10697900/2123798469
++ openssl base64 -e
++ tr -d '\n\r'
++ os_esed -e 's:=*$::g' -e y:+/:-_:
++ [[ linux == \b\s\d ]]
++ [[ linux == \m\a\c ]]
++ sed -r -e 's:=*$::g' -e y:+/:-_:
+ response=ewogICJzdGF0dXMiOiAidmFsaWQiLAogICJleHBpcmVzIjogIjIwMjAtMDEtMzFUMTI6MzE6MTNaIiwKICAiaWRlbnRpZmllcnMiOiBbCiAgICB7CiAgICAgICJ0eXBlIjogImRucyIsCiAgICAgICJ2YWx1ZSI6ICJsZXhjb25zdWx0Lm9ubGluZSIKICAgIH0KICBdLAogICJhdXRob3JpemF0aW9ucyI6IFsKICAgICJodHRwczovL2FjbWUtdjAyLmFwaS5sZXRzZW5jcnlwdC5vcmcvYWNtZS9hdXRoei12My8yNDQ4Mzk3OTc4IgogIF0sCiAgImZpbmFsaXplIjogImh0dHBzOi8vYWNtZS12MDIuYXBpLmxldHNlbmNyeXB0Lm9yZy9hY21lL2ZpbmFsaXplLzEwNjk3OTAwLzIxMjM3OTg0NjkiLAogICJjZXJ0aWZpY2F0ZSI6ICJodHRwczovL2FjbWUtdjAyLmFwaS5sZXRzZW5jcnlwdC5vcmcvYWNtZS9jZXJ0LzAzZjVhOGU4ZGJkNjA5M2YxYzY5MGU4YTU4Y2Q3ODQ3YjE0MyIKfQ
+ [[ ewogICJzdGF0dXMiOiAidmFsaWQiLAogICJleHBpcmVzIjogIjIwMjAtMDEtMzFUMTI6MzE6MTNaIiwKICAiaWRlbnRpZmllcnMiOiBbCiAgICB7CiAgICAgICJ0eXBlIjogImRucyIsCiAgICAgICJ2YWx1ZSI6ICJsZXhjb25zdWx0Lm9ubGluZSIKICAgIH0KICBdLAogICJhdXRob3JpemF0aW9ucyI6IFsKICAgICJodHRwczovL2FjbWUtdjAyLmFwaS5sZXRzZW5jcnlwdC5vcmcvYWNtZS9hdXRoei12My8yNDQ4Mzk3OTc4IgogIF0sCiAgImZpbmFsaXplIjogImh0dHBzOi8vYWNtZS12MDIuYXBpLmxldHNlbmNyeXB0Lm9yZy9hY21lL2ZpbmFsaXplLzEwNjk3OTAwLzIxMjM3OTg0NjkiLAogICJjZXJ0aWZpY2F0ZSI6ICJodHRwczovL2FjbWUtdjAyLmFwaS5sZXRzZW5jcnlwdC5vcmcvYWNtZS9jZXJ0LzAzZjVhOGU4ZGJkNjA5M2YxYzY5MGU4YTU4Y2Q3ODQ3YjE0MyIKfQ == '' ]]
++ cat /root/.getssl/xxx.xxx/tmp/curl.header
+ responseHeaders='HTTP/1.1 100 Continue

HTTP/1.1 200 OK
Server: nginx
Date: Fri, 24 Jan 2020 12:31:19 GMT
Content-Type: application/json
Content-Length: 439
Connection: keep-alive
Boulder-Requester: 10697900
Cache-Control: public, max-age=0, no-cache
Link: <https://acme-v02.api.letsencrypt.org/directory>;rel="index"
Location: https://acme-v02.api.letsencrypt.org/acme/order/10697900/2123798469
Replay-Nonce: 0002A0k6Wt-w5ORe20eansVb82lHX8ANlnY22zpf37k_VKQ
X-Frame-Options: DENY
Strict-Transport-Security: max-age=604800
'
+ [[ -n needbase64 ]]
+ [[ ewogICJzdGF0dXMiOiAidmFsaWQiLAogICJleHBpcmVzIjogIjIwMjAtMDEtMzFUMTI6MzE6MTNaIiwKICAiaWRlbnRpZmllcnMiOiBbCiAgICB7CiAgICAgICJ0eXBlIjogImRucyIsCiAgICAgICJ2YWx1ZSI6ICJsZXhjb25zdWx0Lm9ubGluZSIKICAgIH0KICBdLAogICJhdXRob3JpemF0aW9ucyI6IFsKICAgICJodHRwczovL2FjbWUtdjAyLmFwaS5sZXRzZW5jcnlwdC5vcmcvYWNtZS9hdXRoei12My8yNDQ4Mzk3OTc4IgogIF0sCiAgImZpbmFsaXplIjogImh0dHBzOi8vYWNtZS12MDIuYXBpLmxldHNlbmNyeXB0Lm9yZy9hY21lL2ZpbmFsaXplLzEwNjk3OTAwLzIxMjM3OTg0NjkiLAogICJjZXJ0aWZpY2F0ZSI6ICJodHRwczovL2FjbWUtdjAyLmFwaS5sZXRzZW5jcnlwdC5vcmcvYWNtZS9jZXJ0LzAzZjVhOGU4ZGJkNjA5M2YxYzY5MGU4YTU4Y2Q3ODQ3YjE0MyIKfQ != \{* ]]
++ echo ewogICJzdGF0dXMiOiAidmFsaWQiLAogICJleHBpcmVzIjogIjIwMjAtMDEtMzFUMTI6MzE6MTNaIiwKICAiaWRlbnRpZmllcnMiOiBbCiAgICB7CiAgICAgICJ0eXBlIjogImRucyIsCiAgICAgICJ2YWx1ZSI6ICJsZXhjb25zdWx0Lm9ubGluZSIKICAgIH0KICBdLAogICJhdXRob3JpemF0aW9ucyI6IFsKICAgICJodHRwczovL2FjbWUtdjAyLmFwaS5sZXRzZW5jcnlwdC5vcmcvYWNtZS9hdXRoei12My8yNDQ4Mzk3OTc4IgogIF0sCiAgImZpbmFsaXplIjogImh0dHBzOi8vYWNtZS12MDIuYXBpLmxldHNlbmNyeXB0Lm9yZy9hY21lL2ZpbmFsaXplLzEwNjk3OTAwLzIxMjM3OTg0NjkiLAogICJjZXJ0aWZpY2F0ZSI6ICJodHRwczovL2FjbWUtdjAyLmFwaS5sZXRzZW5jcnlwdC5vcmcvYWNtZS9jZXJ0LzAzZjVhOGU4ZGJkNjA5M2YxYzY5MGU4YTU4Y2Q3ODQ3YjE0MyIKfQ
++ base64 -d
+ response='{
  "status": "valid",
  "expires": "2020-01-31T12:31:13Z",
  "identifiers": [
    {
      "type": "dns",
      "value": "xxxx.xxx"
    }
  ],
  "authorizations": [
    "https://acme-v02.api.letsencrypt.org/acme/authz-v3/2448397978"
  ],
  "finalize": "https://acme-v02.api.letsencrypt.org/acme/finalize/10697900/2123798469",
  "certificate": "https://acme-v02.api.letsencrypt.org/acme/cert/03f5a8e8dbd6093f1c690e8a58cd7847b143"
}base64: invalid input'
+ debug responseHeaders 'HTTP/1.1 100 Continue

HTTP/1.1 200 OK
Server: nginx
Date: Fri, 24 Jan 2020 12:31:19 GMT
Content-Type: application/json
Content-Length: 439
Connection: keep-alive
Boulder-Requester: 10697900
Cache-Control: public, max-age=0, no-cache
Link: <https://acme-v02.api.letsencrypt.org/directory>;rel="index"
Location: https://acme-v02.api.letsencrypt.org/acme/order/10697900/2123798469
Replay-Nonce: 0002A0k6Wt-w5ORe20eansVb82lHX8ANlnY22zpf37k_VKQ
X-Frame-Options: DENY
Strict-Transport-Security: max-age=604800
'
+ [[ 0 -eq 1 ]]
+ debug response '{
  "status": "valid",
  "expires": "2020-01-31T12:31:13Z",
  "identifiers": [
    {
      "type": "dns",
      "value": "xxx.xxxx"
    }
  ],
  "authorizations": [
    "https://acme-v02.api.letsencrypt.org/acme/authz-v3/2448397978"
  ],
  "finalize": "https://acme-v02.api.letsencrypt.org/acme/finalize/10697900/2123798469",
  "certificate": "https://acme-v02.api.letsencrypt.org/acme/cert/03f5a8e8dbd6093f1c690e8a58cd7847b143"
}base64: invalid input'
+ [[ 0 -eq 1 ]]
++ awk ' $1 ~ "^HTTP" {print $2}' /root/.getssl/xxx.xxx/tmp/curl.header
++ tail -1
+ code=200
```




> For some reason letsencrypt return response in base64 with omitted equal signs at the end of the response (so it omits base64 padding)

@nekto-alt For reference we do that because it's specified [in RFC 8555](https://tools.ietf.org/html/rfc8555#section-6.1). ACME uses `base64url` encoding, not `base64`:
>  Binary fields in the JSON objects used by ACME are encoded using base64url encoding described in Section 5 of [RFC4648] according to the profile specified in JSON Web Signature in Section 2 of   [RFC7515].  This encoding uses a URL safe character set.  Trailing  '=' characters MUST be stripped.  Encoded values that include trailing '=' characters MUST be rejected as improperly encoded.

@cpu thank you!  I wish I'd known that before as I couldn't work out why the standard base64 decode was complaining about invalid data
@nekto-alt I've made a fix in the urlbase64_decode branch, can you please try using this branch and let me know if it fixes the problem for you.

@timkimber, I've tested version from urlbase64_decode,  it seems that it works

Thanks!